<!DOCTYPE html>
<meta charset="UTF-8">
<title>Test Schedule</title>
</head>
<body align="center">
<h2>Test Schedule</h2>
<br>
<form action="#" th:action="@{/addScheduleItem}" th:object="${scheduleItemDto}" method="post">
    <!--<form action="#" th:action="@{/addScheduleItem/{studentGroupId}(studentGroupId=${studentGroup.id})}">-->

    <p>
        <label>Begin Time:</label>
        <input type="datetime-local" th:field="*{beginDate}">
    <p>
        <label>End Time:</label>
        <input type="datetime-local" th:field="*{endDate}">
    <p>
        <label>Lesson Name:</label>
        <input type="text" th:field="*{lessonName}" placeholder="Lesson Name">

        <br>
        <label>Student Group:</label>
        <select th:field="*{studentGroupId}">
            <option th:each="studentGroup: ${studentGroups}"
                    th:text="${studentGroup.groupName}"
                    th:value="${studentGroup.id}">
            </option>
        </select>
        <br>
        <label>Classroom:</label>
        <select th:field="*{classroomId}">
            <option th:each="classroom: ${classrooms}"
                    th:text="${classroom.classroomName} + ' (' + ${classroom.classroomNumber}+ ')'"
                    th:value="${classroom.id}">
            </option>
        </select>
        <br>
        <label>Teacher:</label>
        <select th:field="*{teacherId}">
            <option th:each="teacher: ${teachers}"
                    th:text="${teacher.teacherName} + ' ' + ${teacher.teacherSurName}"
                    th:value="${teacher.id}">
            </option>
        </select>
        <input type="submit" value="Add">
</form>
<br>
</body>
</html>