<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body align="center">
<h2>Student Info</h2>
<form action="#" th:action="@{/saveStudent/{studentGroupId}(studentGroupId=${studentGroup.id})}" th:object="${student}"
      method="post">
    <p>Student Name: <input type="text" th:field="*{studentName}"/></p>
    <p>Student SurName: <input type="text" th:field="*{studentSurName}"/></p>
    <p>Age: <input type="number" th:field="*{age}"/></p>
    <p><input type="submit" value="Add"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>