<!DOCTYPE html>
<meta charset="UTF-8">
<title>All Students</title>
</head>
<body align="center">
<h2>All Students</h2>
<br>
<table align="center" border="1">
    <tr>
        <th>SurName</th>
        <th>Name</th>
        <th>Age</th>
        <th>Student Group</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="student : ${allStudents}">
        <td th:text="${student.studentSurName}"></td>
        <td th:text="${student.studentName}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.studentGroup.groupName}"></td>
        <td><a th:href="@{/editStudent/{studentId}(studentId=${student.id})}" target="_blank">Edit</a></td>
        <td><a th:href="@{/deleteStudent/{studentId}(studentId=${student.id})}">Delete</a></td>
    </tr>
</table>
<br>
</body>
</html>