<!DOCTYPE html>
<meta charset="UTF-8">
<title>All Departments</title>
</head>
<body  align="center">
<h2>All Departments</h2>
<br>
<table  align="center" border="1">
    <tr>
        <th>Department Name</th>
        <th>Faculty Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="department : ${allDepartments}">
        <td th:text="${department.name}"></td>
        <td th:text="${department.faculty.name}"></td>
        <td><a th:href="@{/editDepartment/{id}(id=${department.id})}">Edit</a></td>
        <td><a th:href="@{/deleteDepartment/{id}(id=${department.id})}">Delete</a></td>
    </tr>
</table>
<br>
</body>
</html>