<!DOCTYPE html>
<meta charset="UTF-8">
<title>All Faculties</title>
</head>
<body  align="center">
<h2>All Faculties</h2>
<br>
<table  align="center">
    <tr>
        <th>Faculty Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="faculty : ${allFaculties}">
        <td th:text="${faculty.name}"></td>
        <td><a th:href="@{/editFaculty/{id}(id=${faculty.id})}">Edit</a></td>
        <td><a th:href="@{/deleteFaculty/{id}(id=${faculty.id})}">Delete</a></td>
    </tr>
</table>
<br>
<p><a href="addNewFaculty">Add a new Faculty</a></p>
<br>
<p><a href="getAllStudentGroups">Get all Student Groups</a></p>

</body>
</html>