<!DOCTYPE html>
<meta charset="UTF-8">
<title>Test Schedule</title>
</head>
<body align="center">
<h2>Test Schedule</h2>
<br>
<!--<form action="#" th:action="@{/addScheduleItem/1}">-->
<form action="#" th:action="@{/addScheduleItem/{studentGroupId}(studentGroupId=${studentGroup.id})}">
    <select>
        <option th:each="studentGroup: ${studentGroups}"
                th:text="${studentGroup.groupName}"
                th:value="${studentGroup.id}">
        </option>
    </select>
    <br>
    <select>
        <option th:each="classroom: ${classrooms}"
                th:text="${classroom.classroomName}"
                th:value="${classroom.id}">
        </option>
    </select>
    <br>
    <select>
        <option th:each="teacher: ${teachers}"
                th:text="${teacher.teacherName} + ' ' + ${teacher.teacherSurName}"
                th:value="${teacher.id}">
        </option>
    </select>
    <input type="submit" value="Add">
</form>
<br>
</body>
</html>