<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Faculty</title>
</head>
<body align="center">
<h2>Update faculty</h2>
<form action="#" th:action="@{/updateFaculty/{id}(id=${faculty.id})}" th:object="${faculty}" method="post">
    <p>Faculty Name: <input type="text" th:field="*{name}"/></p>
    <p><input type="submit" value="Update"/> <input type="reset" value="Reset"/></p>
</form>
<br>
<a th:href="@{/addNewStudentGroup/{id}(id=${faculty.id})}">Add new Student Group</a>
<br>
<a th:href="@{/getStudentGroupsInFaculty/{id}(id=${faculty.id})}" target="_blank">Get Student Groups in Faculty</a>
</body>
<br>
<a th:href="@{/addDepartment/{id}(id=${faculty.id})}">Add new Department</a>
<br>
<a th:href="@{/getDepartmentsInFaculty/{id}(id=${faculty.id})}" target="_blank">Get Departments in Faculty</a>
</body>


</html>