<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Teacher</title>
</head>
<body align="center">
<h2>Update Teacher</h2>
<form action="#"
      th:action="@{/updateTeacher/{departmentId}/{teacherId}(teacherId=${teacherId},departmentId=${departmentId})}"
      th:object="${teacher}"
      method="post">
    <p><input type="text" th:field="*{teacherName}"/></p>
    <p><input type="text" th:field="*{teacherSurName}"/></p>
    <p><input type="number" th:field="*{age}"/></p>
    <p><input type="submit" value="Update"/> <input type="reset" value="Reset"/></p>
</form>
<br>
</body>
</html>