<!DOCTYPE html>
<meta charset="UTF-8">
<title>Add Schedule</title>
</head>
<body align="center">
<h2>Add Schedule</h2>
<br>
<form action="#" th:action="@{/addScheduleItem}" th:object="${scheduleItemDto}" method="post">
    <p>
        <label>Begin Time:</label>
        <input type="datetime-local" th:field="*{beginDate}"></p>
    <label th:if="${#fields.hasErrors('beginDate')}" cssErrorClass="form-field-error"
           th:errors="*{beginDate}"></label>
    <p>
        <label>End Time:</label>
        <input type="datetime-local" th:field="*{endDate}"></p>
    <label th:if="${#fields.hasErrors('endDate')}" cssErrorClass="form-field-error"
           th:errors="*{endDate}"></label>
    <p>
        <label>Lesson Name:</label>
        <input type="text" th:field="*{lessonName}" placeholder="Lesson Name"></p>
    <label th:if="${#fields.hasErrors('lessonName')}" cssErrorClass="form-field-error"
           th:errors="*{lessonName}"></label>
    <br>
    <label>Student Group:</label>
    <select th:field="*{studentGroupId}">
        <option th:each="studentGroup: ${studentGroups}"
                th:text="${studentGroup.groupName}"
                th:value="${studentGroup.id}">
        </option>
    </select>
    <br>
    <label>Classroom:</label>
    <select th:field="*{classroomId}">
        <option th:each="classroom: ${classrooms}"
                th:text="${classroom.classroomName} + ' (' + ${classroom.classroomNumber}+ ')'"
                th:value="${classroom.id}">
        </option>
    </select>
    <br>
    <label>Teacher:</label>
    <select th:field="*{teacherId}">
        <option th:each="teacher: ${teachers}"
                th:text="${teacher.teacherName} + ' ' + ${teacher.teacherSurName}"
                th:value="${teacher.id}">
        </option>
    </select>
    <input type="submit" value="Add">
</form>
<br>
</body>
</html>