<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
</head>
<body align="center">
<h2>Update Student</h2>
<form action="#"
      th:action="@{/updateStudent/{studentGroupId}/{studentId}(studentId=${studentId},studentGroupId=${studentGroupId})}"
      th:object="${student}"
      method="post">
    <p>Student Name:<input type="text" th:field="*{studentName}"/></p>
    <label th:if="${#fields.hasErrors('studentName')}" cssErrorClass="form-field-error"
           th:errors="*{studentName}"></label>
    <p>Student Surname:<input type="text" th:field="*{studentSurName}"/></p>
    <label th:if="${#fields.hasErrors('studentSurName')}" cssErrorClass="form-field-error"
           th:errors="*{studentSurName}"></label>
    <p>Student age:<input type="number" th:field="*{age}"/></p>
    <label th:if="${#fields.hasErrors('age')}" cssErrorClass="form-field-error"
           th:errors="*{age}"></label>
    <p><input type="submit" value="Update"/> <input type="reset" value="Reset"/></p>
</form>
<br>
</body>
</html>