<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
</head>
<body align="center">
<h2>Update Student</h2>
<form action="#"
      th:action="@{/updateStudent/{studentGroupId}/{studentId}(studentId=${studentId},studentGroupId=${studentGroupId})}"
      th:object="${student}"
      method="post">
    <p><input type="text" th:field="*{studentName}"/></p>
    <p><input type="text" th:field="*{studentSurName}"/></p>
    <p><input type="number" th:field="*{age}"/></p>
    <p><input type="submit" value="Update"/> <input type="reset" value="Reset"/></p>
</form>
<br>
</body>
</html>